# Supabase Configuration
SUPABASE_URL=https://ucxavbvxlhouybsswbyy.supabase.co
SUPABASE_ANON_KEY=sb_publishable_vihKFLDlSgY7rDOxLyDwfQ_205ddgUv

# Google Gemini API
GEMINI_API_KEY=AIzaSyBNqy4vJH9xEtVGGKL1UvwvMfGwNMFAJCI
